<div class="main-container">
  <div class="filter-container">
    <h3>Your search</h3>
    <hr>
    <%= form_tag ads_path, method: :get do %>
    <p>Filter by price</p>
    <input name="price" type="range" min="0" max="1000" step="10" value="<%= params[:price] %>" data-orientation="vertical"/>

    <p>Filter by capacity</p>
      <%= hidden_field_tag :query, params[:query], class: "form-control" %>
      <%= text_field_tag :capacity, params[:capacity], class: "form-control" %>
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div id="ads">
    <h1><%= @ads.count %> products found</h1>
    <div class="clearfix">
      <% @ads.each do |ad| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#myModal#{ad.id}" do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= Picture.where(ad: ad).first.url %>);">
          <div class="card-description">
            <%= ad.title %>
            <h3><%= ad.price %>€</h3>
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary btn-lg btntest" data-toggle="modal" data-target="#myModal<%= ad.id %>">Open</button> -->
          </div>
        </div>
        <% end %>
      </div>
      <!-- Modal -->
      <%= render "shared/admodal", ad: ad %>
      <% end %>
    </div>
    <%= paginate @ads, remote: true %>
  </div>
  <div id="map" style="width: 80%; height: 700px; "data-markers= "<%= @markers.to_json %>"></div>
</div>
