<div class="main-container">
  <div class="sidebar">
    <h3><%= @ads.size %> phones found</h3>
    <%= form_tag ads_path, method: :get do %>
    <p id="price_filter">Filter by price</p>
      <div id="slider">
        <input  type="range"
                min="10"
                max="1000"
                data-rangeslider
                name="price"
                value="<%= params[:price].nil? ? 1000 : params[:price] %>" >
      </div>
      <output></output>
      <p id="capacity_filter">Filter by capacity</p>
        <%= hidden_field_tag :query, params[:query], class: "form-control" %>
        <%= text_field_tag :capacity, params[:capacity], class: "form form-control", placeholder: "32Go? 128Go? 256Go?" %>
        <%= submit_tag "Filter", class: "btn btn-success" %>
      <% end %>
  </div>
  <div id="ads">
    <div class="clearfix">
      <% @ads.each do |ad| %>
      <div class="col-xs-12 col-sm-6">
        <!-- Button trigger modal -->
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#myModal#{ad.id}" do %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= Picture.where(ad: ad).first&.url.nil? ? ad.product.picture : Picture.where(ad: ad).first.url %>);">
            <div class="card-price">
              <%= ad.price %> €
            </div>
          <div class="card-content">
            <h2 class="card-title"><%= ad.title %></h2>
          </div>
        </div>
        <% end %>
      </div>
      <!-- Modal -->
      <%= render "shared/admodal", ad: ad %>
      <% end %>
    </div>
  </div>
  <div id="map" style="width: 80%; height: 700px; "data-markers= "<%= @markers.to_json %>"></div>
</div>

