<div class="main-container">
  <div class="filter-container">
    <h3>Your search</h3>
    <hr>
    <p><%= @ads.count %> ads found</p>
    <p>Price</p>
    <p>Capacity</p>
  </div>
  <div id="ads">
    <h1>Best results for you</h1>
    <div class="clearfix">
      <% @ads.each do |ad| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#myModal#{ad.id}" do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url();">
          <div class="card-description">
            <%= ad.title %>
            <h3><%= ad.price %>€</h3>
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-primary btn-lg btntest" data-toggle="modal" data-target="#myModal<%= ad.id %>">Open</button> -->
          </div>
        </div>
        <% end %>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal<%= ad.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h1 class="modal-title" id="myModalLabel"><%= ad.title %></h1>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-6" id="price-ad-show">
                    <h2><%= ad.location %> | Prix: <%= ad.price %> € </h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <p>Annonce parue le <%= ad.date.strftime('%d/%m/%Y à %Hh%M') %> sur <%= ad.source %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <h2>Description:</h2>
                    <p><%= ad.description.html_safe %></p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <% Picture.where(ad: ad).each do |pic| %>
                      <%= image_tag pic.url, width: 200 %>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= link_to "Voir l'annonce sur #{ad.source}", ad.url, class: "btn btn-primary", target: "_blank" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= paginate @ads, remote: true%>
  </div>
  <div id="map" style="width: 80%; height: 700px; "data-markers= "<%= @markers.to_json %>"></div>
</div>



