<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1><%= @ad.title %></h1>
      <h5>Annonce parue le <%= @ad.date.strftime('%d/%m/%Y à %Hh%M') %> sur <%= @ad.source %></h5>
    </div>
    <div class="col-xs-12 col-sm-6" id="price-ad-show" style="text-align: center">
      <h2>Prix: <%= @ad.price %> € </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5><%= @ad.location %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><b> Description: </b><p>
      <p><%= @ad.description.html_safe %></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <% @pictures.each do |pic| %>
        <%= image_tag pic.url, width: 200 %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <%= link_to "Back to search results", product_path(@ad.product), class: "btn btn-success" %>
    <%= link_to "Voir l'annonce sur #{@ad.source}", @ad.url, class: "btn btn-primary", target: "_blank" %>
  </div>
</div>
