<div class="modal fade" id="myModal<%= ad.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel"><%= ad.title %></h1>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6" id="price-ad-show">
              <h2><%= ad.location %> | Prix: <%= ad.price %> € </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <p>Annonce parue le <%= ad.date.strftime('%d/%m/%Y') %> sur <%= ad.source %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h2>Description:</h2>
              <p><%= ad.description.html_safe %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <% Picture.where(ad: ad).each do |pic| %>
              <%= image_tag pic.url, width: 200 %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <%= link_to "Voir l'annonce sur #{ad.source}", ad.url, class: "btn btn-success", target: "_blank" %>
      </div>
    </div>
  </div>
</div>

