<!-- Search bar -->
<%= render 'shared/banner' %>
<!-- No search, Display Best deals -->
<div class="container" id="ads">
  <h1><i class="fa fa-thumbs-up"></i>The best deals around you</h1>
  <div class="row">
    <% @ads.each do |ad| %>
    <%= link_to ad_path(ad) do %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <%= link_to "#", "data-toggle" => "modal", "data-target" => "#myModal#{ad.id}" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(<%= ad.pictures.first.url %>);">
        <div class="card-description">
          <%= ad.title %>
          <h3> <%= ad.price %> € </h3>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
      <%= render "shared/admodal", ad: ad %>
    <% end %>
  </div> <!-- row -->
</div>
<!-- search, Display Results -->




