<!-- Search bar -->
<%= render 'shared/banner' %>
<!-- No search, Display Best deals -->
<div class="container" id="ads">
  <h1> <a href=""><i class="fa fa-thumbs-up"></i></a>The best deals around you</h1>
  <div class="row">
    <% @ads.each do |ad| %>
    <%= link_to ad_path(ad) do %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= ad.pictures.first.url %>);">
          <div class="card-description">
            <%= ad.title %>
            <h3> <%= ad.price %> € </h3>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div> <!-- row -->
</div>
<!-- search, Display Results -->




