<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h1>
        <%= @product.brand.name %> -
        <%= @product.name %>
        <%= @product.version %>
        <% if @product.capacity && @product.capacity > 0 %>
          <% @product.capacity %>Go
        <% end %>
      </h1>

      <% @ads.each do |ad| %>
        <div class="message">
          <div class="message-pic">
            <% if ad.pictures.any? %>
              <%= image_tag ad.pictures.first.url, class: "avatar-large" %>
            <% end %>
          </div>
          <div class="message-name">
           <h3><%= ad.date.strftime('%d/%m/%Y') %></h3>
           <p><%= ad.date.strftime('%Hh%M') %></p>
         </div>
         <div class="message-body">
           <p><strong><%= ad.title %></strong></p>
           <p><%= ad.description.html_safe %></p>
         </div>
         <div class="message-status">
           <p class="status pending"> <%= ad.location %></p>
           <p class="price"><%= ad.price %> €</p>
         </div>
         <%= link_to "", ad.url, target: :_blank, class: 'message-ad-url' %>
       </div>
     <% end %>
   </div>
 </div>
</div>

<%= link_to "Back to products list", root_path(anchor: 'products'), class: "btn btn-success" %>
