<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FiveIcon -->
    <link rel="icon" href="http://res.cloudinary.com/dwa3usnol/image/upload/v1520417725/Logoico.png" type="image/png" />

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Phone Mapper" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://phonemapper.win/" />
    <meta property="og:image" content="http://res.cloudinary.com/dwa3usnol/image/upload/v1520415842/phone_mapper.jpg" />
    <meta property="og:description" content="Easy to find the best deals" />
    <meta property="og:site_name" content="Phone Mapper - Find a phone in one click" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Phone_mapper">
    <meta name="twitter:title" content="Phone Mapper - Find a phone in one click">
    <meta name="twitter:description" content="Easy to find the best deals">
    <meta name="twitter:creator" content="@Phone_mapper">
    <meta name="twitter:image:src" content="https://unsplash.com/photos/IA45HH_ZrJw">


    <title>Phone Mapper - The best way to find a second hand phone</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if current_page?(root_path) %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/navbarwhite' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag "map" %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

