<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Phone Mapper" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://phonemapper.win/" />
    <meta property="og:image" content="https://unsplash.com/photos/IA45HH_ZrJw" />
    <meta property="og:description" content="Easy to find the best deals" />
    <meta property="og:site_name" content="Phone Mapper - Find a phone in one click" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Phone_mapper">
    <meta name="twitter:title" content="Phone Mapper - Find a phone in one click">
    <meta name="twitter:description" content="Easy to find the best deals">
    <meta name="twitter:creator" content="@Phone_mapper">
    <meta name="twitter:image:src" content="https://unsplash.com/photos/IA45HH_ZrJw">


    <title>Phone Mapper - The best way to find a second hand phone</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

